/* 大屏 */
@media only screen and (min-width:830px){
    body{
        
        margin: 0px;
    }
    header{
        max-width: 1000px;
        margin: auto;
    }
    body #container{
        
    }

    body #container header #logo{
        margin: 0px;
        float: left;
    }

    /* nav */
    body #container header{
        height: 220px;
        padding-top: 20px;
    }
    body #container header nav{
        position: relative;
        width: 60%;
        height: 100%;
        float: left;
    }
    body #container header nav ul{
        position: absolute;
        top:95px;
        width: 100%;
        height: 30px;
        margin-right:0px ;
    }

    /* main */
    main{
        background-color: #1D1D1C;
    }

    /* footer */
    footer{
        height: 50px;
        background-color: rgb(58, 58, 56);
    }
    footer p{
        height: 50%;
        line-height: 25px;
    }


}